<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bike_24*7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A52BFB3292290A300AEC548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A52BFCC292290A500AEC548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A52BFD6292290A500AEC548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
