<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428660930908-2f1mk5se0sq0bsl0h3ggkegqqmh4eih5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428660930908-2f1mk5se0sq0bsl0h3ggkegqqmh4eih5</string>
	<key>API_KEY</key>
	<string>AIzaSyBE427atC5WBWlXGRcPRGFcxtvXrpl42Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>428660930908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.Bike-24-7</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-5838a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-5838a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428660930908:ios:beb65154052192478be999</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-5838a-default-rtdb.firebaseio.com</string>
</dict>
</plist>